<h1>Detail Produktu</h1>
<div class="container">
  <img class="product-image" src="assets/Venice_upraveno.jpg" alt="ViaGo Venice">
  <div class="product-details">
    <div class="price">od 49 990 Kč</div>
    <dl class="details">
      <dt>Kategorie:</dt><dd>ViaGo</dd>
      <dt>Příslušenství v ceně:</dt><dd>a/n</dd>
      <dt>Rozměry (délka, šířka, výška):</dt><dd>1980*690*1130 mm</dd>
      <dt>Motor:</dt><dd>2000 W QS</dd>
      <dt>Rychlost:</dt><dd>45 km/hod</dd>
      <dt>Napětí baterie:</dt><dd>72 V</dd>
      <dt>Kapacita baterie (20Ah):</dt><dd>20 Ah</dd>
      <dt>Kapacita baterie (40Ah):</dt><dd>40 Ah</dd>
      <dt>Baterie:</dt><dd>V ceně, moderní Lithium-iontová (Li-ion) baterie</dd>
      <dt>Vyjímatelná baterie:</dt><dd>Ne</dd>
      <dt>Maximální dojezd (20Ah):</dt><dd>50 km</dd>
      <dt>Maximální dojezd(40Ah):</dt><dd>100 km</dd>
      <dt>Rekuperace:</dt><dd>Ano</dd>
      <dt>Nabíječka:</dt><dd>8 Ah</dd>
      <dt>Doba nabíjení:</dt><dd>6 h</dd>
      <dt>Brzdy:</dt><dd>Kotoučové hydraulická</dd>
      <dt>Váha motorky vč. baterie:</dt><dd>112 kg</dd>
      <dt>Nosnost:</dt><dd>150 kg</dd>
    </dl>
  </div>
</div>

