<h1>Detail Produktu</h1>
<div class="container">
  <img class="product-image" ngSrc="assets/Venice_upraveno.jpg" alt="ViaGo Venice" height="768" width="1024">
  <div class="product-details">
    <div *ngIf="product$ | async as product">
      <div class="price">od {{ product.price }} Kč</div>
      <dl class="details">
        <dt>{{ product.name }}</dt>
        <div *ngFor="let parameter of parseParameters(product.parameters) | keyvalue">
          <dt>{{ parameter.key }}:</dt>
          <dd>{{ parameter.value }}</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

