  h1 {
    text-align: center;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    margin-top: 20px;
  }

  .product-image {
    width: auto; /* Adjust to maintain aspect ratio */
    max-width: 50%; /* Set a max width to half of the container */
    flex: none; /* Do not allow the image to grow or shrink */
  }

  .product-info {
    flex: 1; /* Allow the container to take up the remaining space */
    display: flex;
    flex-direction: column; /* Stack price/button and details vertically */
    padding-left: 20px;
  }

  .price-button-container {
    display: flex;
    justify-content: space-between; /* This will place the price and button on opposite ends */
    align-items: center;
    margin-bottom: 20px; /* Space between price/button and details */
  }

  .price {
    font-size: 2em; /* Large font size for price */
    font-weight: bold;
  }

  .buy-button {
    padding: 10px 20px;
    background-color: #FFD700; /* Gold color for the button */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }

  .buy-button:hover {
    background-color: #FFC107; /* Lighter gold on hover */
  }

  .details {
    font-size: 1em;
    clear: both; /* Clear floats if any from preceding elements */
  }

  .details dt {
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
  }

  .details dd {
    display: inline;
    margin-left: 5px;
    margin-right: 20px; /* Space between each detail item */
  }

  .details dd::after {
    content: "";
    display: block;
    margin-bottom: 10px;
  }

  p {
    max-width: 60rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f5f5f5;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
