<div class="product_card grid">
  <div class="product_card-content grid">
    <img
      src="https://s3-alpha-sig.figma.com/img/23ed/0d4e/a59045ff33c9795dbb27a2b5b8a5f286?Expires=1708300800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cUEaoswbMRMP8OUKm-z3V~k3E4v4t9HAs7qVxfzgPqbojbuBSFiI1Y7dOfVMtro4qbd59le5L6CzP7W7cPExWInJxn7UcfnAGFxJZqhIAdYCVBTFp1xS7BMLOJ4rUXpkqHE-M14uDkA0pw~faqIrBm29vov3MesU6d-y0OhnXaDtvaX5naNXH4b7nuUaJHcdJW3JVHvisM7GUK-0~XqJ0yI4lW-s54qnM4wmG76OnxPC2pqHcUQ9D0QZJ2cdjfdcO4Hx9jZC2SsH7uMJuewuN8wLXSHWHldHslTFOX~SU1aGtHI5DPg~KrS~vEdb~yyBbx-3OmISEExsnHf7B-tz~Q__"
      alt="">
    <p>
      Lorem ipsum dolor sit amet
    </p>
    <p>
      xx xxx Kč
    </p>
    <a href="">Do košíku</a>

  </div>
</div>
