.product_card {
  background-color: rgb(246, 246, 246);
  border-radius: 36px;
}

.product_card-content {
  max-width: 90%;
  place-items: center;
  margin-inline: auto;
  padding-bottom: 1rem;
}

.product_card-content img {
  width: 90%;
  border-radius: 36px;
  margin-bottom: .5rem;
}

.product_card-content p {
  margin-block: .25rem;
}

.product_card-content a {
  background-color: #FFEE00;
  padding: .5rem 1rem;
  text-decoration: none;
  color: black;
}


