h1{
  text-align: center;
}

p {
  max-width: 60rem;
  margin: 0 auto;
}

.product_list {
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  margin-inline: auto;
  gap: 1rem;
  margin-top: 2rem; /* Space above the grid */
  margin-bottom: 2rem; /* Space below the grid */
}

.ladning-photo img {
  width: 100%; /* Ensure the image fills the entire width of its container */
  height: 100vh; /* Maintain aspect ratio */
}

.hero-img {
  width: 100%;
  height: 95vh;
  object-fit: fill;
}

.landing-photo h1{
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.landing-photo {
  position: relative; /* Ensure position context for absolutely positioned elements */
  width: 100%; /* Make it span the entire width of its container */
  overflow: hidden; /* Hide any overflow */
}
