<footer class="footer grid">
  <div class="footer_content grid">
    <div>
      <h2>Kontakt</h2>
      <div>
        <a href="mailto:info@viago.cz">info&#64;viago.cz</a>
      </div>
      <div>
        <a href="tel:+420721975423">+420721975423</a>
      </div>
      <div>
        <a href="https://www.facebook.com/viagoczech" target="_blank">www.facebook.com/viagoczech</a>
      </div>
    </div>
    <div class="footer_content-categories grid">
      <h2>Kategorie</h2>
      <div>
        <a href="">Modely</a>
      </div>
      <div>
        <a href="">Skútry bez řidičáku</a>
       </div>
      <div>
        <a href="">Motorky s řidičákem</a>
      </div>
    </div>
    <div class="footer_content-info grid">
      <h2>Informace</h2>
      <div>
        <a href="">Obchodní podmínky</a>
      </div>
      <div>
        <a href="">Podmínky ochrany osobních údajů</a>
      </div>
      <div>
        <a href="">Kontaky</a>
      </div>
    </div>
  </div>
</footer>
