h1 {
  text-align: center;
}

p {
  max-width: 60rem;
  margin: 0 auto;
}

.product_list {
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  margin-inline: auto;
  gap: 1rem;
}

.photo {
  display: flex;
    justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}
