.product_list {
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  margin-inline: auto;
  gap: 1rem;
}

h1{
  text-align: center;
}

.landing-page {
  position: relative;
  text-align: center;
}
.landing-page img {
  width: 100%;
}

.landing-page h1{
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  max-width: 100%;
  max-height: 100%;
}

.homepage-text {
  text-align: center;
}

.homepage-text h1 {
  text-align: center;
}

.homepage-text p {
  max-width: 80%;
  margin: 0 auto;
}

/* Přidání horního a spodního marginu pro všechny hlavní sekce */
.banner,
.homepage-text,
.product_list {
  margin-top: 2rem; /* Horní odsazení */
  margin-bottom: 2rem; /* Spodní odsazení */
}

.landing-page {
  position: relative;
  text-align: center;
}

.homepage-text {
  padding: 2rem; /* Větší odsazení pro textovou sekci */
  text-align: center;
  background-color: #f5f5f5; /* Příklad pozadí pro oddělení sekce */
}

