.product_list {
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  margin-inline: auto;
  gap: 1rem;
}

h1{
  text-align: center;
}

.landing-page {
  position: relative;
  text-align: center;
}
.landing-page img {
  width: 100%;
}

.landing-page h1{
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 100%; /* Ensure the image doesn't exceed the container height */
}

.homepage-text {
  text-align: center;
}

.homepage-text h1 {
  text-align: center;
}

.homepage-text p {
  max-width: 80%;
  margin: 0 auto; /* Centers the paragraph horizontally within the container */
}
